@font-face {
    font-family: 'Cera Pro';
    src: url('https://assets.lego.com/fonts/v3/cera-pro/CeraPro-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('https://assets.lego.com/fonts/v3/cera-pro/CeraPro-Medium.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('https://assets.lego.com/fonts/v3/cera-pro/CeraPro-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'cera pro', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

.slideshow-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 34.5rem;
    margin: auto;
}

.prev {
    rotate: 180deg;
}

.prev, .next {
    cursor: pointer;
}

.navbar a {
    height: 18px;
}

.navbar {
    flex-wrap: wrap;
}

.mySlides {
    display: flex;
    justify-content: flex-start;
    align-items: center;   
    max-height: 2rem;
    flex-wrap: nowrap;
    overflow: scroll;
}

.mySlides::-webkit-scrollbar {
    display: none;
}

.navbar .first-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding: 0 35px;
    max-width: 1500px;
    margin: auto;
}

.navbar .first-nav .first-nav-right {
    display: flex;
    align-items: center;  
    gap: 0 20px;
    font-size: 0.75rem;
    font-weight: 500;  
}

.navbar .first-nav .first-nav-right img {
    width: 18px;
}

.btn-area-giochi {
    background-color: #abdaff;
    border: none;
    border-radius: 3px;
    height: 25px;
    width: 120px;
    transition: all .15S;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 0.75rem;
    font-weight: 500;
}

.btn-area-giochi img {
    rotate: 180deg;
    margin-right: 8px;
}

.btn-area-giochi:hover {
    background-color: white;
    box-shadow: 0 0 5px 3px #abdbff88;
    cursor: pointer;
}

.yellow-nav {
    background-color: #ffcf03;
}

.nav-left-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 35px;
    max-width: 1500px;
    margin: auto;
}

.navbar .nav-left {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}

.navbar .nav-left .links {
    display: flex;
    align-items: center;
    gap: 0 55px;
}

.navbar .nav-left .links a {
    color: black;
    font-weight: 500;
}

.numbertext {
    display: inline;
    min-width: 100%;
    text-align: center;
    font-size: 0.75rem;
}

.numbertext a {
    margin-left: 0.75rem;
    color: #016db6;
}

.f-s-vip {
    height: 34px;
    width: 190px;
    border-radius: 3px;
    padding: 0;
    border: none;
    color: #d01d1d;
    background-color: white;
    font-size: 1rem;
    transition: all 0.15s;
}

.f-s-vip:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.navbar .nav-right {
    display: flex;
    align-items: center;
    gap: 0 30px;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    border: none;
    min-height: 40px;
    min-width: 40px;
    background-color: white;
    cursor: pointer;
}

.random-flex {
    display: flex;
    gap: 2rem;
    overflow: scroll;
    padding: 2rem;
    background-color: lightblue;
}

.random-div {
    min-width: 300px;
    height: 300px;
    background-color: #016db6;
}