@font-face {
    font-family: Cera Pro;
    src: url(../assets/fonts/Cera\ Pro\ Light.otf);
}

@font-face {
    font-family: Cera Pro Bold;
    src: url(../assets/fonts/Cera\ Pro\ Bold.otf);
}

html, * {
    font-family: Cera Pro, sans-serif;
    margin: 0;
}

body {
    background-color: rgb(0,0,0);
    color: white;
    padding: 1rem;
}

.wrapper {
    display: flex;
    gap: 70px;
}

.typo {
    margin-bottom: 20px;
}

.title {
    font-family: Cera Pro Bold;
    font-size: 2rem;
}

.a-bold {
    opacity: 0.6;
}

.a-light {
    opacity: 0.6;
}

.text-icons {
    margin-bottom: 20px;
}

.first-line {
    width: 300px;
    height: 150px;
    background-color: rgb(168, 168, 168);
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: 5px 8px white;
    padding: 20px;
}

img {
    color: white;
    padding: 3px;
}




